<!-- ***********Bannier-home*************** -->
  <section id="section05" class="demo">
  	<h1>Les Ongles de Mylene</h1>
    <h2>Nous Découvrir</h2>
  	<a class="text-center" href="#section06"><span></span></a>
  </section>
<!-- *********** end ************** -->

  <div id="section06">
    <div class="text-center padded ">
  <h1>Qui suis-je ?</h1>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 mov_left">
        <img alt="ongle-mylene" src="images/logo-mylene.jpg">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-left mov_right">
        <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs fondamentales de ma vie, le reflet de mon travail et de ce que nous vivrons ensemble durant les coachings. </p>
        <p>A domicile, en salle ou en extérieur, tous les terrains d'entraînement sont possibles pour atteindre ensemble vos objectifs. Soucieux de répondre parfaitement à vos attentes, je personnalise chacune de mes séances pour qu'elle ne ressemble qu'à vous.</p>
        <p>Installé près de Bordeaux, je vous propose mes services de la Métropole jusqu'au Bassin d'Arcachon, de manière individuelle et/ou collective, tant pour les adultes que pour les enfants et les adolescents. Je pratique également les coachings personnalisés à distance, via Internet.</p>
        <p>Ma formation, mon professionnalisme et mon énergie associés à votre motivation, votre volonté et votre implication seront les clés de votre réussite. Je m'y engage personnellement et vous attends dès à présent pour  vivre ensemble de beaux défis sportifs.</p>
      </div>
    </div>
  </div>
</div>

  </div>

  <div id="section07" >
  	<h1>Le Bar</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
        </div>
      </div>
  </div>

  <div id="section08" >
  	<h1>Tarifs</h1>
  </div>

  <div id="section09">
  	<h1>Contact</h1>
  </div>
