<!-- ***********Bannier-home*************** -->
  <section id="section05" class="demo">
    <img src="/images/test14.png" alt="">
    <div class="hidden-xs hidden-sm">
      <h2>Nous Découvrir</h2>
  	<a class="text-center" href="#section06"><span></span></a>
    </div>
  </section>
<!-- *********** end ************** -->

  <div id="section06">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h1>Notre Concept</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="mov_left">
            <h2>Avec ou sans rendez-vous  <i class="fa fa-calendar-check-o" aria-hidden="true"></i></h2>
            <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
          </div>
          <div class="mov_left2">
            <h2>Une Equipe professionelle  <i class="fa fa-users" aria-hidden="true"></i></h2>
            <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 mov_up">
          <img alt="ongle-mylene" src="images/ongles-mylene-logo-grey.png">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 ">
          <div class="mov_right hidden-sm hidden-xs">
            <h2><i class="fa fa-thumbs-o-up" aria-hidden="true">  </i> 100% détente et convivial</h2>
            <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
          </div>
          <div class="mov_right3 hidden-md hidden-lg">
            <h2><i class="fa fa-thumbs-o-up" aria-hidden="true">  </i> 100% détente et convivial</h2>
            <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
          </div>
        <div class="mov_right2 hidden-sm hidden-xs ">
          <h2><i class="fa fa-id-card-o" aria-hidden="true">  </i> Carte fidélité</h2>
          <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
        </div>
        <div class="mov_right1 hidden-md hidden-lg ">
          <h2><i class="fa fa-id-card-o" aria-hidden="true">  </i> Carte fidélité</h2>
          <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div id="section07">
  	<h1>Nos prestations</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-sm-12 col-md-4">
          <div id="show-presta41" class="button-prestation">Bar à ongles</div>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-4">
          <div id="show-presta42" class="button-prestation1">Spa Pédicure</div>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-4">
          <div id="show-presta43" class="button-prestation2">Soins esthétiques</div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="show-presta41">
             <div class="col-md-6">
               <img src="/images/test20.png" alt="">
             </div>
             <div class="col-md-6">
               <h2>Bar à ongles</h2>
               <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
             </div>
            </div>

            <div class="show-presta42">
             <div class="col-md-6">
               <img src="/images/test23.png" alt="">
             </div>
             <div class="col-md-6">
               <h2>Spa Pédicure</h2>
               <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
             </div>
            </div>

            <div class="show-presta43">
             <div class="col-md-6">
               <img src="/images/test21.png" alt="">
             </div>
             <div class="col-md-6">
               <h2>Soins Esthétiques</h2>
               <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- **************************Tarif ************************** -->
  <div id="section08" >
    <h1>Tarifs</h1>
  </div>

  <div id="section09">
  	<h1>Contact</h1>
  </div>
