<!-- ***********Bannier-home*************** -->
  <section id="section05" class="demo">
    <img src="/images/test14.png" alt="">
    <div class="hidden-xs hidden-sm">
  	<a class="text-center" href="#section06"><span></span></a>
    </div>
  </section>
<!-- *********** end ************** -->

  <div id="section06">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h1>Notre Concept</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="mov_left">
            <h2>Avec ou sans rendez-vous  <i class="fa fa-calendar-check-o" aria-hidden="true"></i></h2>
            <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
          </div>
          <div class="mov_left2">
            <h2>Une Equipe professionelle  <i class="fa fa-users" aria-hidden="true"></i></h2>
            <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 mov_up">
          <img alt="ongle-mylene" src="images/ongles-mylene-logo-grey.png">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 ">
          <div class="mov_right hidden-sm hidden-xs">
            <h2><i class="fa fa-thumbs-o-up" aria-hidden="true">  </i> 100% détente et convivial</h2>
            <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
          </div>
          <div class="mov_right3 hidden-md hidden-lg">
            <h2><i class="fa fa-thumbs-o-up" aria-hidden="true">  </i> 100% détente et convivial</h2>
            <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
          </div>
        <div class="mov_right2 hidden-sm hidden-xs ">
          <h2><i class="fa fa-id-card-o" aria-hidden="true">  </i> Carte fidélité</h2>
          <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
        </div>
        <div class="mov_right1 hidden-md hidden-lg ">
          <h2><i class="fa fa-id-card-o" aria-hidden="true">  </i> Carte fidélité</h2>
          <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div id="section07">
  	<h1>Nos prestations</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div id="show-presta41" class="button-prestation">Bar à ongles</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div id="show-presta42" class="button-prestation1">Spa Pédicure</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div id="show-presta43" class="button-prestation2">Soins esthétiques</div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="presta-fix">
            <div class="show-presta41">
             <div class="col-sm-6 col-md-6">
               <img src="/images/test20.png" alt="">
             </div>
             <div class="col-sm-6 col-md-6">
               <h2>Bar à ongles</h2>
               <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
             </div>
            </div>

            <div class="show-presta42">
             <div class="col-sm-6 col-md-6">
               <img src="/images/test23.png" alt="">
             </div>
             <div class="col-sm-6 col-md-6">
               <h2>Spa Pédicure</h2>
               <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
             </div>
            </div>

            <div class="show-presta43">
             <div class="col-sm-6 col-md-6">
               <img src="/images/test21.png" alt="">
             </div>
             <div class="col-sm-6 col-md-6">
               <h2>Soins Esthétiques</h2>
               <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs</p>
             </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

<!-- **************************Tarif ************************** -->
  <div id="section08" >
    <h1>Tarifs</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <table>
            <caption>Vernis semi permanent</caption>
             <tr>
                 <th><p>30€</p></th>
                 <td>Smoothing (renfort ongles naturels)</td>
             </tr>
             <tr>
                 <th><p>32€</p></th>
                 <td>Vernis semi permanent French ou couleur Forfait 15 jours</td>
             </tr>
             <tr>
                 <th><p>35€</p></th>
                 <td>Vernis semi permanent French ou couleur (tenue :2 semaines minimum / Dépose offerte si repose suivant)</td>
             </tr>
          </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <table>
            <caption>Manucure & Vernis</caption>
             <tr>
                 <th><p>10€</p></th>
                 <td>Pose de vernis</td>
             </tr>
             <tr>
                 <th><p>15€</p></th>
                 <td>Pose de vernis French</td>
             </tr>
             <tr>
                 <th><p>15€</p></th>
                 <td>Manucure homme</td>
             </tr>
             <tr>
                 <th><p>15€</p></th>
                 <td>Manucure express</td>
             </tr>
             <tr>
                 <th><p>20€</p></th>
                 <td>Manucure express + vernis (french + 2 euros)</td>
             </tr>
             <tr>
                 <th><p>30€</p></th>
                 <td>Manucure Spa + vernis (french + 2 euros)</td>
             </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <table>
            <caption>Gainage gel ou Resine</caption>
             <tr>
                 <th><p>40€</p></th>
                 <td>Pose gel sur les ongles naturels (gainage)</td>
             </tr>
             <tr>
                 <th><p>45€</p></th>
                 <td>Pose gel de couleur ou gel bricolore French permanente sur les ongles naturels</td>
             </tr>
          </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <table>
            <caption>Pose complete gel ou Resine</caption>
             <tr>
                 <th><p>55€</p></th>
                 <td>Pose complète gel sur extensions capsules ou papiers</td>
             </tr>
             <tr>
                 <th><p>60€</p></th>
                 <td>Pose complète gel de couleur ou bicolore French permanente sur extensions capsules ou papier</td>
             </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <table>
            <caption>Remplissage gel ou Resine</caption>
             <tr>
                 <th><p>38€</p></th>
                 <td>Remplissage gel</td>
             </tr>
             <tr>
                 <th><p>42€</p></th>
                 <td>Remplissage gel de couleur ou gel pailleté ou gel bicolore French permanente</td>
             </tr>
             <tr>
                 <th><p>1€</p></th>
                 <td>Réparation lors d'un remplissage (1 ongle)</td>
             </tr>
             <tr>
                 <th><p>5€</p></th>
                 <td>Ongle seul gel</td>
             </tr>
          </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <table>
            <caption>Affinage gel</caption>
             <tr>
                 <th><p>10€</p></th>
                 <td>Affinage gel (10 min)</td>
             </tr>
             <tr>
                 <th><p>16€</p></th>
                 <td>Affinage de couleur ou pailleté (20 min)</td>
             </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <table>
            <caption>Depose</caption>
             <tr>
                 <th><p>10€</p></th>
                 <td>Dépose gel si pose semi permanent en suivant</td>
             </tr>
             <tr>
                 <th><p>20€</p></th>
                 <td>Remplissage gel de couleur ou gel pailleté ou gel bicolore French permanente</td>
             </tr>
             <tr>
                 <th><p>25€</p></th>
                 <td>Réparation lors d'un remplissage (1 ongle)</td>
             </tr>
          </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <table>
            <caption>Pour vos Pieds</caption>
             <tr>
                 <th><p>25€</p></th>
                 <td>Manucure express</td>
             </tr>
             <tr>
                 <th><p>30€</p></th>
                 <td>Manucure express + vernis (French + 2€)</td>
             </tr>
             <tr>
                 <th><p>40€</p></th>
                 <td>Vernis semi permanent French ou couleur (Tenue 4 à 8 semaines)</td>
             </tr>
             <tr>
                 <th><p>50€</p></th>
                 <td>PédiSpa (beauté des pieds) + vernis (French + 2€)</td>
             </tr>
             <tr>
                 <th><p>70€</p></th>
                 <td>Forfait PédiSpa + vernis semi permanent</td>
             </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <table>
            <caption>Décoration & Nail Art</caption>
             <tr>
                 <th><p>0.5€</p></th>
                 <td>Strass</td>
             </tr>
             <tr>
                 <th><p>1€</p></th>
                 <td>Décoration ou Nail Art (1 ongle)</td>
             </tr>
             <tr>
                 <th><p>2€</p></th>
                 <td>Paillette Vernis (10 ongles)</td>
             </tr>
             <tr>
                 <th><p>4€</p></th>
                 <td>Liseret Liner (10 ongles)</td>
             </tr>
             <tr>
                 <th><p>5€</p></th>
                 <td>Paillette Poudre Libre (10 ongles)</td>
             </tr>
             <tr>
                 <th><p>10€</p></th>
                 <td>Pochoir/Stamping (10 ongles)</td>
             </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
          <ul>
            <li><span>-10%</span>Tarifs jeune moins de 25 ans (Hors décoration)</li>
          <ul>
        </div>
      </div>
    </div>
  </div>
<!-- **************************Contact ************************** -->
  <div id="section09">
    <img src="/images/test60.png" alt="">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h2>Contactez-nous</h2>
          <div class="social">
          <a href="tel:0663520624"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h2>Nous suivre</h2>
          <div class="social">
            <a href="https://www.facebook.com/LesOnglesDeMylene/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
          <div class="droit">
          2017 Les Ongles de Mylène. Tout droits réservés.
          </div>
        </div>
      </div>
    </div>
  </div>
