<!-- ***********Bannier-home*************** -->
  <section id="section05" class="demo">
  	<h1>Les Ongles de Mylene</h1>
    <h2>Nous Découvrir</h2>
  	<a class="text-center" href="#section06"><span></span></a>
  </section>
<!-- *********** end ************** -->

  <div id="section06">
    <h1>Qui suis-je ?</h1>

  </div>

  <div id="section07" >
  	<h1>Le Bar</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
        </div>
      </div>
  </div>

  <div id="section08" >
  	<h1>Tarifs</h1>
  </div>

  <div id="section09">
  	<h1>Contact</h1>
  </div>
