<div class="navbar-wagon navbar-wagon-fixed ">
  <!-- Logo -->
  <a href="#section05"><img class="navbar-wagon-brand" alt="ongle-mylene" src="images/les-ongles-de-mylene-logo.png"></a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Button (call-to-action) -->
    <ul class="nav nav-tabs" >
      <li class='navbar-wagon-item'><a href="#section06">Concept</a></li>
      <li class='navbar-wagon-item'><a href="#section07">Nos prestations</a></li>
      <li class='navbar-wagon-item'><a href="#section08">Tarifs</a></li>
      <li class='navbar-wagon-item'><a href="#section09">Contact</a></li>
    </ul>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>a></li>
        <li>a</li>
        <li>a</li>
        <li>a</li>
      </ul>
    </div>
  </div>
</div>
