@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0; }

  html, body {
    height: 100%;
  }
#section05 img {
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  background-position: center 100%;
  background-size: cover;
 }

 #section05 h2 {
 	position: absolute;
 	bottom: 20px;
 	left: 67%;
  top: 90%;
  bottom: 0;
 	z-index: 2;
 	display: inline-block;
 	-webkit-transform: translate(0, -50%);
 	transform: translate(0, -50%);
 	color: #f597a0;
 	font : normal 400 20px/1 'Josefin Sans', sans-serif;
 	letter-spacing: .1em;
 	text-decoration: none;
 	transition: opacity .3s;
 }

 .demo a {
 	position: absolute;
 	bottom: 20px;
 	left: 70%;
 	z-index: 2;
 	display: inline-block;
 	-webkit-transform: translate(0, -50%);
 	transform: translate(0, -50%);
 	color: #f597a0;
 	font : normal 400 20px/1 'Josefin Sans', sans-serif;
 	letter-spacing: .1em;
 	text-decoration: none;
 	transition: opacity .3s;
 }
 .demo a:hover {
 	opacity: .5;
 }

#section05 a {
  padding-top: 90px;
   }

#section05 a span {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  border-left: 5px solid #f597a0;
  border-bottom: 5px solid #f597a0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box; }

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }

/***************Concept********************/
#section06{
  padding-bottom: 220px;
  padding-top: 90px;
}
#section06 h1 {
  color: black;
  padding-bottom: 60px;
  font: normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
   }

#section06 h2 {
  color: black;
  font: normal 300 28px/1 'Josefin Sans', sans-serif;
}

#section06 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  padding-top: 10px;
}

#section06 p {
  font: normal 300 20px/1 'Josefin Sans', sans-serif;
  line-height: 1.3;
  color: #a2a2a2;
}
.mov_left{
  text-align: right;
}
.mov_right1, ùov_right{
  padding-top: 50px;
}
.mov_left2{
  padding-top: 50px;
  text-align: right;
}

.mov_right2{
  padding-top: 50px;
}

.fa-calendar-check-o,.fa-users,.fa-id-card-o,.fa-thumbs-o-up{
  color : #f597a0;
  font-size: 35px;
}
/***********************Nos prestations **********************/
#section07{
  padding-bottom: 60px;
  padding-top: 90px;
  background-color: #f8f8f8;
}

#section07 h1 {
  color: black;
  padding-bottom: 60px;
  font: normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
   }

   #section07 h2 {
    display: block;
    max-width: 350px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
   	-webkit-transform: translate(0, -50%);
   	transform: translate(0, -50%);
   	color: #f597a0;
   	font : normal 400 20px/1 'Josefin Sans', sans-serif;
   	letter-spacing: .1em;
   	text-decoration: none;
   	transition: opacity .3s;
   }

#section07 img {
  display: block;
  border-radius: 8px;
  margin-left: auto;

}

#section07 p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font: normal 300 20px/1 'Josefin Sans', sans-serif;
  line-height: 1.3;
  color: #a2a2a2;
  max-width: 350px;
}

.presta-slide{
  display: block;
  width: 100%;
  height: 700px;
}

  .button-prestation {
      margin-left: auto;
      margin-right: auto;
      padding: 39px 20px;
      text-align: center;
      width: 150px;
      height: 150px;
      font-size: 20px;
      border-radius: 75px;
      border: 5px solid #f597a0;
      color: #f597a0;
      font-weight:600;
      cursor:pointer;
  }

  .button-prestation:hover {
    background-color: #f597a0;
    color: #fff;
  }

  .button-prestation1 {
      margin-left: auto;
      margin-right: auto;
      padding: 39px 20px;
      text-align: center;
      width: 150px;
      height: 150px;
      font-size: 20px;
      border-radius: 75px;
      border: 5px solid #f597a0;
      color: #f597a0;
      font-weight:600;
      cursor:pointer;
  }

  .button-prestation1:hover {
    background-color: #f597a0;
    color: #fff;
  }

  .button-prestation2 {
      margin-left: auto;
      margin-right: auto;
      padding: 39px 20px;
      text-align: center;
      width: 150px;
      height: 150px;
      font-size: 20px;
      border-radius: 75px;
      border: 5px solid #f597a0;
      color: #f597a0;
      font-weight:600;
      cursor:pointer;
  }

  .button-prestation2:hover {
    background-color: #f597a0;
    color: #fff;
  }

  .show-presta41, .show-presta42, .show-presta43 {
      display:none;
      clear:both;
      width:100%;
      padding-top: 90px;
  }

  .show-presta41{
    display: block;
  }
  .presta-fix{
    height: 600px;
  }

/******************** Tarif ***********************/
#section08{
  padding-bottom: 60px;
  padding-top: 90px;
}

#section08 h1{
  color: black;
  padding-bottom: 60px;
  font: normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
}

#section08 span{
  color: #f597a0;
  margin-right: 20px;
  text-decoration: none;
  list-style-type:none;
}

#section08 ul{
  list-style-type:none;
  margin-left: auto;
  margin-right: auto;
}

#section08 li {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font: normal 600 20px/1 'Josefin Sans', sans-serif;
  color: #a2a2a2;

}

caption{
  padding-top: 30px;
  color: black;
 font: normal 300 28px/1 'Josefin Sans', sans-serif;
}

#section08 th {
  color: #f597a0;
  margin-right: 40px;
  font: normal 300 20px/1 'Josefin Sans', sans-serif;
  vertical-align: baseline;
  line-height: 0.5;
}

#section08 td {
  display: block;
  font: normal 300 20px/1 'Josefin Sans', sans-serif;
  color: #a2a2a2;
  line-height: 1.2;
  margin-left: 15px;
}

#section08 tr {
  min-height: 25px;
}

#section08 p {
  float: left;
  margin: 0;
}

/******************** Contact ***********************/
#section09{
  background-color: #f8f8f8 ;
  padding-bottom: 40px;
}

#section09 img {
  width: 100%;
  height: 90%;
  background-position: center 100%;
  background-size: cover;
 }
#section09 h1 {
  color: black;
  padding-bottom: 60px;
  font: normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
   }

   #section09 h2 {
    display: block;
    color: black;
    font : normal 400 30px/1 'Josefin Sans', sans-serif;
    text-decoration: none;
   }


   #section09 p {
     display: block;
     margin-left: auto;
     margin-right: auto;
     font: normal 300 20px/1 'Josefin Sans', sans-serif;
     color: #a2a2a2;
     max-width: 550px;
   }
.droit{
  position: absolute;
  padding-top: 20px;
  display: block;
  font: normal 300 14px/1 'Josefin Sans', sans-serif;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 0;
}

.social{
  display: inline-block;
  font-size: 40px;
}
.fa{
  color: #f597a0;
}
.fa-facebook-official:hover{
  color: #3b5997;
  cursor: pointer;
}

.fa-twitter-square:hover{
  color:#00acee;
}

.fa-linkedin-square:hover{
  color: #007bb6;
}

.fa-envelope:hover{
  color: black;
}

.fa-phone-square:hover{
  color: black;
}

/******************** Phone tablette ***********************/

@media screen and (min-width: 200px) and (max-width: 640px) {

/*****banner*****/
  #section05 img {
    margin-top: 80px;
  }
/******Concept*****/
  #section06 {
    padding-bottom: 0px;
    padding-top: 0px;
}

#section06 h2 {
    font: normal 300 25px/1 'Josefin Sans', sans-serif;
}

/*********Prestation*********/
#section07 img {
    width: 282px;
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-prestation, .button-prestation1, .button-prestation2 {
  width: 85px;
  height: 85px;
  padding: 20px 5px;
  font-size: 12px;
  }
}
